# Zucman

In [3]:
import pandas as pd

## Wealth inequality

Load, clean, and export data from Saez & Zucman (2020). This shows the wealth shares of the top 0.1% and the bottom 90% in the United States from 1917 to 2019. The data is a 2020 update of Saez & Zucman (2016).

In [44]:
inequality = pd.read_excel(
    'raw/SaezZucman2020JEPData.xlsx', 
    sheet_name='DataF1-F2(Wealth)',
    skiprows=8
)

inequality = inequality.iloc[7:110, [0, 7, 9]].reset_index(drop=True)
cols_orig = inequality.columns
inequality = inequality.rename(
    columns={cols_orig[0]: 'year', cols_orig[1]: 'bottom90', cols_orig[2]: 'top01'}
)
inequality['bottom90'] = 1 - inequality['bottom90']
inequality = inequality.melt(id_vars='year', var_name='group', value_name='share').reset_index(drop=True)
inequality

/Users/themoon/Envs/twopoints-venv/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

     year     group     share
0    1917  bottom90  0.190446
1    1918  bottom90  0.187249
2    1919  bottom90  0.174703
3    1920  bottom90  0.191017
4    1921  bottom90  0.192235
..    ...       ...       ...
201  2015     top01  0.200136
202  2016     top01  0.197891
203  2017     top01  0.195408
204  2018     top01  0.193564
205  2019     top01  0.192165

[206 rows x 3 columns]

In [45]:
inequality = inequality.to_csv('inequality.csv', index=False)

## Tax rates

Load, clean, and export data from Saez & Zucman (2019). This shows the average tax rate faced by income groups in the United States from 1950 to 2018.

In [47]:
taxrate = pd.read_excel(
    'raw/SaezZucman2020JEPData.xlsx', 
    sheet_name='DataF5(Taxes)',
    skiprows=8
)
taxrate = taxrate.rename(
    columns={'G-percentile': 'group'}
)
taxrate = taxrate.melt(id_vars='group', var_name='year', value_name='rate').reset_index(drop=True)
taxrate

/Users/themoon/Envs/twopoints-venv/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

              group  year      rate
0             P0-10  1950  0.161432
1            P10-20  1950  0.170698
2            P20-30  1950  0.185304
3            P30-40  1950  0.190243
4            P40-50  1950  0.191774
..              ...   ...       ...
115          P95-99  2018  0.276615
116        P99-99.9  2018  0.289139
117     P99.9-99.99  2018  0.331536
118  P99.99-top 400  2018  0.303630
119         Top 400  2018  0.230415

[120 rows x 3 columns]

In [48]:
taxrate.to_csv('taxrate.csv', index=False)

## Tax evasion

Load, clean, and export data from Alstadsaeter, Johannesen, and Zucman (2019). This shows taxes evaded as a share of total taxes owed, disaggregated by wealth percentile, for Scadinavian countries.

In [32]:
evasion = pd.read_excel(
    'raw/AJZ2017.xlsx', 
    sheet_name='Data-F1-6b',
    skiprows=1
)

evasion = evasion.iloc[:16, [0, 17, 18]]
cols_orig = evasion.columns
evasion = evasion.rename(
    columns={cols_orig[0]: 'percentile', cols_orig[1]: 'evasion', cols_orig[2]: 'se'}
)
evasion

/Users/themoon/Envs/twopoints-venv/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

       percentile   evasion        se
0           P0-10  0.035676  0.036287
1          P10-20  0.017485  0.008656
2          P20-30  0.013735  0.009219
3          P30-40  0.013674  0.007701
4          P40-50  0.010708  0.006523
5          P50-60  0.010920  0.004945
6          P60-70  0.019682  0.009287
7          P70-80  0.019809  0.007958
8          P80-90  0.027091  0.008586
9          P90-95  0.018311  0.007638
10         P95-99  0.034314  0.011416
11       P99-99.5  0.049763  0.026689
12     P99.5-99.9  0.062025  0.027563
13   P99.9-P99.95  0.085974  0.030897
14  P99.95-P99.99  0.130866  0.046519
15    P99.99-P100  0.262587  0.055313

In [33]:
evasion.to_csv('evasion.csv', index=False)